@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  background-color:#F6F6F6;
  padding:50px 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  max-width: 770px;
  width: 100%;
  height : 100vh;
  margin:0 auto;
}

.main{
  height : 100%;
}
.title{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom : 10px;
}

.title--name{
  font-size: 100px;
  font-weight:bold;
}
.title--number{
  align-self : flex-end;
  font-size: 40px;
  font-weight:bold;
}
.content{
  height : 800px;
}
.content--text{
  display: flex;
  font-size: 10px;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 60px;
}

.content--text--2{
  flex-grow:1;
  text-align: right;
}
.content--text--3{
  flex-grow:2;
  text-align: right;
}
.content--image{
  display:flex;
  flex-wrap : wrap;
  height : 100%;
}
.circle{
width : 220px;
height: 220px;
border-radius:200px;
margin:0 auto;
}

.blue{
  background-color:#86efef;
}

.black{
  background-color: rgb(88,99,101);
}

.green{
  background-color: rgb(4,164,102);
}