@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100vh;
  background : white;
  display :flex;
  justify-content: center;
  align-items: center;
}

.grid {
    width : 98%;
    height: 98%;
    display : grid;
    grid-template : 
      "headerTop headerTop headerTop headerTop" 1fr
      "headerLeft main main headerRight" 20fr
      "headerBottom headerBottom headerBottom headerBottom" 1fr/
      1fr 8fr 8fr 1fr;
      text-transform: uppercase;
}

.header {
    background : white;
    border : 5px solid royalblue;
    color : darkslateblue;
    font-weight: 700;
    font-size : 14px;
}

.header--top{
    grid-area : headerTop;
    display : flex;
    justify-content: center;
    align-items: center;
    font-size : 16px;
}

.header--left{
    grid-area : headerLeft;
    
    display : flex;
    flex-direction: row;
    align-items: center;
    border-top: none;
    border-bottom: none;
    writing-mode: vertical-lr;
    text-orientation: upright;
    
}

.header--left__1{
    width : 100%;
    background-color: royalblue;
    color : white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow : 2;
}
.header--left__2{
    width : 100%;
    border-bottom : 5px solid royalblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow:  2;

}
.header--left__3{
    width : 100%;
    height : 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header--left__3 img{
    width : 20px;
    margin-top : 5px;
}
.header--right{
    grid-area : headerRight;
    display : flex;
    flex-direction: row;
    align-items: center;
    background: royalblue;
    color : white;
    border-top: none;
    border-bottom: none;
    writing-mode: vertical-lr;
    text-orientation: upright;
    
}

.header--right__1{
    width : 100%;
    border-bottom : 5px solid orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.header--right__1 img{
    width : 10px;
    margin-top : 15px;
    margin-bottom: 15px;
}
.header--right__2{
    width : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.header--right__2 img{
    width : 10px;
    margin-top : 15px;
    margin-bottom: 15px;
}
.header--bottom{
    grid-area : headerBottom;
    display : grid;
    justify-content: center;
    align-items: center;
    font-size : 16px;
}

.main{
    background : yellowblueviolet;
    grid-area : main;
    position : relative;
}

.main--content{
    width : 100%;
    height :100%;
    display : grid;
    grid-template-columns: 1fr 1fr;
}

.main--content__1{
    width : 100%;
    height: 100%;
    object-fit: cover;
}

.main--content__2{
    width : 100%;
    height: 100%;
    object-fit: cover;
}
.main--logo{
    text-align: center;
    width : min-content;
    height : min-content;
    position : absolute;
    color : white;
    font-size : 60px;
    font-weight: 700;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%)
}

.main--logo li:first-child{
    font-size : 40px;
}

.inquiryButton{
    background-color: springgreen;
    border-radius: 10%;
    position : absolute;
    width : 50px;
    height : 50px;
    bottom : -2%;
    right : -2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inquiryButton img{
    
    width : 60%;
    height: 70%;
    object-fit: fill;
}